.about{
  display: flex;
  margin-top: 90px;
  gap: 118px;
}

.about_pic {
  width: 524px;
  height: 557px;
  flex-shrink: 0;
  border-radius: 100px 240px;
  

  overflow: hidden; /* Certifique-se de ocultar qualquer parte da imagem que ultrapasse as bordas da div */
}

.about_pic img {
  width: 100%;
  height: 100%;
  border-radius: 26px;


}



.about_txt__paragraph p{
  margin-bottom: 28px;
  max-width: 630px;
  height: 228px;
}

@media (max-width:768px){
  .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
  }

  .about_pic {
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    border-radius: 150px 100px;
    background: none;
    box-shadow: none;
  }

  .about_pic img {
    width: 100%;
    background: url(<path-to-image>) transparent / cover no-repeat;
  }


  .about_txt__title{
    display: none;
  }

  .about_txt__paragraph p{
    display: none;
  }

}
