.hero_pic {
  width: 490px; /* Reduzi a largura do contêiner */
  height: 455px;
  overflow: hidden;
  border-radius: 100px 100px 100px 240px;
  background: rgba(0, 0, 0, 0.13);
}

.hero_pic_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .hero_pic {
    display: none;
  }
}
