.information_container{
  display: flex;
  border-radius: 90px;
  background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
  box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
  margin-top: 88px;
  padding: 28px 80px 22px 39px;
}

.information_container__content{
  background-color: transparent;
  display: flex;
  padding: 10px;
  align-items: center;
}



.information_container__content__img img{
  width: 70px;
  height: 70px;
  background-color: transparent;
  margin-right: 10px;

}
.information_container__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information_container__info h3{
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.information_container__info p{
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.vector{
width: 0px;
height: 116.5px !important;
flex-shrink: 0;
stroke-width: 1px;
stroke: rgba(192, 183, 232, 0.33);
margin-left: 30px;
margin-right: 40px;
}



@media (max-width: 768px){
  .information_container{
    display: flex;
    flex-direction: column;
    padding: 0;

  }

  .information_container__content{
    display: flex;
    flex-direction: column;
  }



  .information_container__content__img img{
    display: flex;
    justify-content: center;

  }
  .information_container__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .information_container__info h3{
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
  }

  .information_container__info p{
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }

  .vector{
    display: none;
  }


}
